
# Kafka
bootstrap.servers=kc-4nym6.us-east-1.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="G2LXWRUE3IDV4T6F" password="QgWk03GnLduzJ8LBo0PCw8WGjQOJ/CjoIoqEBbCEu55ctjhN2Zw7CoQUTUICktEM";
ssl.endpoint.identification.algorithm=https
sasl.mechanism=PLAIN